@charset "utf-8";

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
}

header {
	padding: 5px;
	height: 100px;
	background-color: rgb(119, 136, 153);
	box-shadow: 0px 2px 2px #ccc;
}

header h1 {
	padding-right: 50px;
	padding-left: 50px;
	font-size: 48px;
	font-family: Times New Roman, sans-serif;
	color: rgb(255, 255, 255);
}

div#meio {
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
}

div#meioNovoUsuario {
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 60px;
}

div#meioNovoUsuario2 {
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 100px;
	margin-top: 60px;
}

div#meioLogin {
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 60px;
}

div#lateral {
	margin-right: 5px;
	margin-left: 30px;
	margin-right: 5px;
}

footer#rodape {
	background-color: rgb(112, 128, 144);
	padding-top: 15px;
	padding-bottom: 5px;
}

footer#rodape p {
	font-family: Times New Roman, sans-serif;
	font-size: 6pt;
	color: rgb(255, 255, 255);
	text-align: center;
}

h#title{
	background-color: lightgrey;
    width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
}